<form>
  <label for="blockMouseMovement">Block Mouse Click/Drag Token Movement</label>
  <input
    type="checkbox"
    name="blockMouseMovement"
    {{checked blockMouseMovement}}
  />

  {{! TODO need to fix spacing here }}
  <button type="submit"><i class="far fa-save"></i> Save Changes</button>
</form>