<form class="flexcol" style="gap: 0.5rem;">
  <div class="flexrow" style="align-items: center;">
    <label for="blockMouseMovement">Block Mouse Click/Drag Token Movement</label>
    <input
      type="checkbox"
      name="blockMouseMovement"
      {{checked blockMouseMovement}}
    />
  </div>

  <button type="submit"><i class="far fa-save"></i> Save Changes</button>
</form>